<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email_id %>
</p>

<p>
  <b>Account balance:</b>
  <%= @user.account_balance %>
</p>

<p>
  <b>Is admin:</b>
  <%= @user.is_admin %>
</p>


<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
